/* 
  styling for "about" and "portfolio" pages  
*/

.about,
.portfolio {
  width: 75%;
  margin: 8rem auto;
  display: grid;
  gap: 5%;
}

.about__section {
  grid-template-columns: 2fr 1fr;
}

.portfolio__project {
  grid-template-columns: 1fr 2fr;
}

.about__section img,
.portfolio__project img {
  max-width: 100%;
  align-self: center;
  justify-self: center;
}

.about__section,
.portfolio__project {
  display: grid;

  gap: 10%;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5rem;
}

.about__section--title,
.portfolio__project--title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
