/*
  COLORS
  ------
  main: #303561
  accent: #8bcdc5

*/

/* universal reset  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* add custom font  */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* change color of text when highlighted   */
::selection {
  background: #8bcdc5;
  color: #303561;
}

html {
  /* make 1rem = 10px (assuming default browser font size is 16px) */
  font-size: 62.5%;
}

/* style the video element so that it is behind all of the content  */
.background-video {
  position: fixed;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0.25;
}

body {
  z-index: 10;
  font-family: 'Space Grotesk', 'Arial', sans-serif;
  font-size: 2rem;
  background-image: linear-gradient(#474c7a 25%, #0d1136);
  color: rgba(255, 255, 255, 0.85);
  height: 100vh;
  max-width: 192rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 8fr;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.header__logo {
  font-size: 4rem;
  padding: 0.5rem;
  color: #8bcdc5;
  border: 5px solid #8bcdc5;
  outline: 0 solid #8bcdc5;
  transition: all 200ms ease-in;
}

.header__logo:hover {
  border: 5px solid transparent;
  outline: 10px solid transparent;
  /* transform: scale(1.05); */
}

.header__nav {
  align-self: center;
}

.header__links {
  list-style-type: none;
  display: inline-flex;
}

.header__links li {
  margin-left: 4rem;
}

.header__links li a {
  font-weight: bold;
  padding: 0.5rem;
  transition: all 200ms;
}

.header__links li a:hover {
  border-bottom: 4px solid #8bcdc5;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3rem;
  transform: translateY(-5vh);
}

.main__title {
  font-size: 6rem;
  margin-bottom: 4rem;
}

.about {
  width: 80%;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;
}
